* {
    margin: 0.2em;
    padding: 0.2em;
/*     box-sizing: border-box;
 */}

 @media screen (min-width : 320px) (max-width : 478px) {

 }



#logo {
/*  float: left;
    height: 10em;
    max-width: 15em;
    margin-left: 100px; 
    display: block;
    margin-right: 15%;*/
    height: 10em;
    min-width: 15em;

}

 .bookM {
    overflow: hidden;
    clear: both;
    border: #9a77cf solid ;
    border-radius: 0px 30px 0px 30px;
    padding: 1em;
    color: 262254;
    background-color: #ffa45e;
    /* width: 55em; */
    margin-left: 20%;
    max-width: 55em;
    box-sizing: border-box;
} 

/*.circle {
    border: #9a77cf solid ;
    border-radius: 0px 30px 0px 30px;
    padding: 1em;
    color: 262254;
    background-color: #ffa45e;
   /* display: block;*/
   /*  max-width: 5em;
    max-height: 5em; */
    /* min-width: 12em;
    min-height: 12em; */
    /* overflow: auto;
    clear: both;
    box-sizing: border-box;
    margin: 5em 2em; */


header {
    background-size: cover;
    background-position: center;
   /* border: solid 5px black;*/
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 4em;
  
}

nav {
    text-align: center;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    background-color: #9a77cf;
}

.box {
    position: relative;
    width: 50%;
}

.Bimage {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: cadetblue;
}

.box:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


#about {
    justify-items: center;
}






























